BasedOnStyle: llvm 
BraceWrapping:
  AfterFunction: true
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
NamespaceIndentation: All
IndentPPDirectives: AfterHash
ColumnLimit: 100  # Disables column limit to prevent unwanted line wrapping.
CommentPragmas: true  # Properly formats comments with pragmas.
SpaceBeforeParens: ControlStatements  # Space before parentheses for control statements.
UseTab: Never  # Use spaces for indentation instead of tabs.
PointerAlignment: Left
BreakBeforeBraces: Allman
