HeaderFilterRegex: 'apps/*/public/*/*.hpp'



Checks: |
  *bugprone*,
  *performance*,
  *openmp*,
  *mpi*,
  *clang-analyzer-*,
  clang-analyzer-optin.cplusplus.VirtualCall,
  clang-analyzer-optin.performance.Padding,
  *cppcoreguidelines*,
  google-explicit-constructor,
  llvm-namespace-comment,
  misc-definitions-in-headers,
  misc-misplaced-const,
  misc-non-copyable-objects,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-uniqueptr-reset-release,
  misc-unused-parameters,
  misc-include-cleaner,
  *modernize*,
  *readability*,
  hicpp-use-noexcept,
  -bugprone-exception-escape,
  -bugprone-reserved-identifier,
  -bugprone-unused-raii,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -google-readability-todo*,
  -performance-avoid-endl
