# LSP AND IDE
.vscode/
.cache/
compile_commands.json
.clangd
.env
# Env
.bmc_info
results/
cma_data/

#Benchs
*.folded
*.data*
*.svg
callgrind.*
*.dat
*.mem*


# Builds
builddir/
build/

# Python
__pycache__
*.old
suprojects/highfive
llvm.sh
*.out
.ruff_cache
__old

# Documentation

./documentation/html
./documentation/latex

wrapper_log.log
tmp*
old/
flake.nix
flake.lock
