[submodule "subprojects/birem"]
	path = subprojects/birem
	url = https://gitlab.com/seolane88/BIREM_Project.git
	branch = refractor/2.0

[submodule "subprojects/cmtool"]
	path = subprojects/cmtool
	url = https://gitlab.com/codes_tim/compartment-modelling-tool.git
	branch = dev_1.1_cuboid
