[submodule "subprojects/birem"]
	path = subprojects/birem
	url = https://gitlab.com/seolane88/BIREM_Project.git
	branch = refractor/2.0
[submodule "subprojects/HighFive"]
	path = subprojects/HighFive
	url = git@github.com:BlueBrain/HighFive.git
	branch = v2.9.0
